.visible-xs > li
{
    border: 1px solid black;
    background-color: white;
}

.navbar-default
{
    background-color: gray;
    border: 3px thick black; color: black;
}

#brand
{
    color: black;
}

button, .icon-bar
{
    border: black solid 1px !important;
}

body{color: black;}


h1 {
    margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  width:160px;
  font-size: 175%;
}


p {
  padding: 10PX;
  clear: both;
  font-size: 125%;
}

.sect
{
  background-color: gray;
  margin: 20px;
  border: 1px solid black;
  
  }